:root {
    --mont: 'Montserrat', sans-serif;
    --inter: 'Inter', sans-serif;
    --beb: 'Bebas Neue', cursive;
}

html,
body,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

a,
button {
    cursor: pointer;
}

a,
link {
    text-decoration: none;
}

p {
    cursor: default;
    user-select: none;
}