.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: white;
    transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
}

.nav-scrolled {
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.nav-hidden {
    transform: translateY(-100%);
}

.nav-head {
    display: flex;
    gap: 4dvb;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-header {
    font-size: 4dvb;
    color: hsl(0, 0%, 20%);
    font-weight: bold;
}

.nav-shop,
.nav-contact,
.nav-admin {
    font-size: 2.5dvb;
    color: hsl(0, 0%, 40%);
    margin: 6px 0 0 0;
}

.nav-img {
    margin-top: 5px;
    display: flex;
    gap: 4dvb;
    align-items: center;
}

.nav-img img,
.nav-icon-svg {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: stroke 0.3s ease, transform 0.2s ease;
}

.nav-icon-svg:hover {
    stroke: #1a1a1a;
    transform: scale(1.1);
}

.nav-delivery {
    width: 4.6dvb !important;
    height: 4.9dvb !important;
    object-fit: contain;
}

@media(max-width : 1024px) {
    .nav-head {
        gap: 2dvb;
    }

    .nav-header {
        font-size: 3dvb;
    }

    .nav-shop,
    .nav-contact,
    .nav-admin {
        font-size: 2dvb;
    }

    .nav-img {
        gap: 3dvb;
    }

    .nav-img img,
    .nav-icon-svg {
        width: 3.5dvb;
        height: 3.5dvb;
    }
}

@media(max-width : 900px) {
    .nav-head {
        gap: 1.5dvb;
    }

    .nav-header {
        font-size: 3dvb;
    }

    .nav-shop,
    .nav-contact,
    .nav-admin {
        font-size: 1.8dvb;
        margin: 9px 0 0 0;
    }

    .nav-img {
        gap: 2dvb;
    }

    .nav-img img,
    .nav-icon-svg {
        width: 3dvb;
        height: 3dvb;
    }
}

@media (max-width: 600px) {

    .nav {
        padding: 0px 20px;
        height: 60px;
    }

    .nav-head {
        gap: 10px;
    }

    .nav-header {
        font-size: 18px;
    }

    .nav-shop,
    .nav-contact,
    .nav-admin {
        font-size: 12px;
        margin: 4px 0 0 0;
    }

    .nav-img {
        gap: 10px;
    }

    .nav-img img,
    .nav-icon-svg {
        width: 20px;
        height: 20px;
    }

    .nav-icon-svg {
        width: 20px;
    }
}