.cart-in {
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
}

.addcart {
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    background-color: white;
    z-index: 1000;
    box-shadow: -2px 0 15px rgba(0, 0, 0, 0.15);
    overflow-y: auto;
    animation: slideCart 0.3s ease forwards;
}

.add-close {
    position: absolute;
    top: 40px;
    right: 28px;
    font-size: 20px;
    width: 20px;
    height: 20px;
    overflow-y: hidden;
    background: none;
    border: none;
    cursor: pointer;
}

.add-close img {
    width: 100%;
    height: 100%;
}

.add-cart {
    font-family: var(--mont);
    font-weight: 700;
    font-size: 35px;
    text-align: left;
    margin: 25px 30px 20px 30px;
    color: hsl(0, 0%, 30%);
}

@keyframes slideCart {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}

.empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 75dvh;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: hsl(0, 0%, 30%);
}

.empty button {
    padding: 15px 40px;
    margin: 6px 0;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: none;
}

.empty1 {
    display: none;
}

.cart-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding: 20px 20px;
}

#add-btn {
    font-size: 14px;
}

.del {
    padding: 8px 14px;
    font-size: 15px;
    font-weight: 600;
    background: hsl(0, 0%, 30%);
    color: white;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    cursor: pointer;
    width: 100%;
    transition: 0.3s ease;
}

@media(max-width:1024px) {
    .addcart {
        width: 50%;
    }
}