:root {
    --mont: 'Montserrat', sans-serif;
    --inter: 'Inter', sans-serif;
    --beb : 'Bebas Neue', cursive;
}
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
a,button{
    cursor: pointer;
}
a,link{
    text-decoration: none;
}
p{
    cursor: default;
    user-select: none;
}