.fea-pro {
    font-family: var(--mont);
    font-size: 40px;
    font-weight: 800;
    margin: 40px 20px 20px 20px;
    color: hsl(0, 0%, 20%);
}

.cart {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    padding: 20px 20px;
}

.cart-card {
    border-radius: 4px;
    padding: 15px;
    text-align: left;
    box-shadow: 0 3px 10px hsl(0, 0%, 80%);
    transition: 0.3s ease;
}

.cart-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 14px hsl(0, 0%, 30%);
}

.cart-image img {
    background: hsl(0, 0%, 86%);
    width: 100%;
    height: 240px;
    border-radius: 2px;
    cursor: pointer;
}

.cart-info {
    margin-top: 12px;
}

.product-name {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 550;
    font-family: var(--inter);
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.product-price {
    font-size: 16px;
    font-weight: 600;
    color: #222;
    font-family: var(--mont);
    padding: 0 15px;
}

.cart-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.add-btn {
    padding: 8px 14px;
    font-size: 12px;
    font-weight: 600;
    background: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
}

.add-btn:active {
    background: hsl(0 0% 85%);
    color: black;
}

hr {
    width: 90%;
    margin: 20px auto;
    border: 0;
    height: 1px;
    background: hsl(0, 0%, 86%);
}

.coming-soon {
    opacity: 0.7;
}

.skeleton-box {
    width: 100%;
    height: 260px;
    background: linear-gradient(90deg, #ddd, #eee, #ddd);
    animation: skeleton 1.2s infinite;
    border-radius: 4px;
}

@keyframes skeleton {
    0% {
        background-position: -200px;
    }

    100% {
        background-position: 200px;
    }
}

.uploading {
    font-style: italic;
    color: gray;
}

.toast {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background: black;
    color: white;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 700;
    font-family: var(--mont);
    opacity: 0;
    animation: showToast 0.3s forwards, hideToast 0.3s 2.2s forwards;
    z-index: 2000;
}

@keyframes showToast {
    from {
        opacity: 0;
        transform: translate(-50%, 20px);
    }

    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

@keyframes hideToast {
    from {
        opacity: 1;
        transform: translate(-50%, 0);
    }

    to {
        opacity: 0;
        transform: translate(-50%, 20px);
    }
}

@media(max-width:1024px) {
    .fea-pro {
        font-size: 32px;
        margin: 30px 20px 20px 20px;
    }

    .cart {
        gap: 20px;
        padding: 15px 15px;
    }

    .cart-card {
        padding: 10px;
    }

    .cart-image img {
        width: 100%;
        height: 200px;
    }

    .product-name {
        font-size: 12px;
        margin-bottom: 8px;
    }

    .product-price {
        font-size: 14px;
        padding: 0 13px;
    }

    .skeleton-box {
        height: 200px;
    }
}

@media (max-width : 900px) {
    .cart {
        gap: 15px;
        padding: 10px 20px;
    }

    .cart-card {
        padding: 8px;
    }
}

@media (max-width: 600px) {

    .fea-pro {
        font-size: 24px;
        margin: 10px 15px 10px 15px;
        text-align: center;
    }

    .cart {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 12px;
        padding: 10px 10px;
    }

    .cart-card {
        padding: 8px;
        border-radius: 4px;
    }

    .cart-image img {
        height: 160px;
    }

    .product-name {
        font-size: 11px;
        margin-bottom: 6px;
        padding: 0 5px;
    }

    .product-price {
        font-size: 10px;
        padding: 0 8px;
        text-align: center;
    }

    .add-btn {
        padding: 7px 10px;
        font-size: 10px;
        width: 55%;
    }
}

@media (max-width : 400px) {
    .cart-image img {
        height: 140px;
    }
    
    .skeleton-box {
        height: 140px;
    }
}

/* for toast */

@media (max-width: 1024px) {
    .toast {
        font-size: 12px;
        padding: 14px 22px;
        bottom: 25px;
    }
}

@media (max-width: 768px) {
    .toast {
        font-size: 11px;
        padding: 12px 20px;
        bottom: 22px;
        border-radius: 8px;
    }
}

@media (max-width: 480px) {
    .toast {
        width: 90%;
        justify-content: center;
        text-align: center;

        font-size: 10.5px;
        padding: 12px 18px;
        bottom: 18px;
    }

    .toast-icon {
        font-size: 14px;
    }
}