.nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    height: 8dvb;
}

.nav-head {
    display: flex;
    gap: 4dvb;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-header {
    font-size: 4dvb;
    color: hsl(0, 0%, 20%);
    font-weight: bold;
}

.nav-shop,
.nav-contact {
    font-size: 2.5dvb;
    color: hsl(0, 0%, 40%);
    margin: 6px 0 0 0;
}

.nav-img {
    margin-top: 5px;
    display: flex;
    gap: 4dvb;
    align-items: center;
}

.nav-img img {
    width: 4.6dvb;
    height: 4.9dvb;
}

@media(max-width : 1024px) {
    .nav-head {
        gap: 2dvb;
    }

    .nav-header {
        font-size: 3dvb;
    }

    .nav-shop,
    .nav-contact {
        font-size: 2dvb;
    }
    .nav-img{
        gap: 3dvb;
    }

    .nav-img img {
        width: 4dvb;
        height: 4dvb;
    }
}